body {
  overflow: hidden;
}
.background {
      background-color: pink;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      sc
    }
    .happy-birthday-box {
      
      width: 300px;
      height: 700px;
      background-color: royalblue;
    }
    .haapy-birthday {
      font-size: large;
      font-style: italic;
      
    }
    .main {
      padding: 15px 30px;
      font-size: 18px;
    }